* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  z-index: 50;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #00809d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
}

.logo img {
  width: 26.72px;
  height: auto;
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
  gap: 32px;
  font-size: 16px;
}

.menu a {
  text-decoration: none;
  color: white;
}

#hero {
  margin-top: -60px;
  background-image: url("assets/bg_hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero_title {
  font-size: 96px;
  font-weight: bolder;
  display: flex;
}

.hero_tagline {
  font-size: 32px;
  font-weight: bolder;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.hero_btn {
  width: 200px;
  height: 50px;
  background-color: #00809d;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

#explore {
  padding: 60px 0;
}

.explore_title {
  color: #00809d;
  font-size: 48px;
  text-align: center;
}
.explore_desc {
  font-size: 20px;
  text-align: center;
}

.card_list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
}

.card {
  cursor: pointer;
  height: 375px;
  width: 350px;
  border: #fcecdd solid 2px;
  border-radius: 20px;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.15);
}

.card:hover .card_img img {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 200px;
  transition: transform 0.5s ease;
}

.card_img {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.card_badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff7601;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
}

.card_content {
  padding: 10px 20px;
}

.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00809d;
}

.rate {
  font-size: 1rem;
}

.card_desc {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #00809d;
}

.price {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bolder;
  color: #ff7601;
}

#testimonial {
  background-color: #fcecdd;
  padding: 60px 0;
  color: white;
}

.testimonial_title {
  color: #ff7601;
  font-size: 48px;
  text-align: center;
  font-style: italic;
}

.testimonial_desc {
  color: #f3a26d;
  font-size: 20px;
  text-align: center;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
  flex-direction: column;
}

.comment_box {
  padding: 20px 30px;
  width: 60rem;
  background-color: white;
  border-radius: 10px;
}

.comment_rate {
  font-size: 1.5rem;
  text-align: center;
}

.comment_msg {
  padding-top: 1rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

.comment_user {
  padding-top: 1rem;
  color: #ff7601;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.comment_user img {
  height: 70px;
}

#about {
  padding: 60px;
  background-color: #00809d;
  color: white;
}

.about_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.about_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_logo img {
  padding-top: 1rem;
  height: 180px;
  filter: brightness(0) invert(1);
}

.about_content {
  flex: 0.5;
}

.about_content p {
  text-align: justify;
  padding-top: 1rem;
}

#footer {
  padding: 2rem;
  background-color: white;
  color: #00809d;
}

.footer_title {
  text-align: center;
  padding-bottom: 2rem;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.contact {
  display: flex;
  font-size: large;
  font-weight: bold;
  align-items: center;
  gap: 1rem;
}

.divider {
  background-color: #00809d;
  margin: 0 5rem;
}

.copyright {
  color: #00809d;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .card_list {
    flex-wrap: wrap;
    gap: 24px;
  }

  .card {
    width: 45%;
  }

  .comment_box {
    width: 80%;
  }

  .about_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about_content {
    flex: unset;
  }

  .contact_container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .explore_title {
    font-size: 30px;
  }
  .explore_desc {
    font-size: 16px;
  }

  .hero_title {
    font-size: 48px;
  }

  .hero_tagline {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
  }

  .hero_btn {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }

  .card_list {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .testimonial_title {
    font-size: 32px;
  }

  .testimonial_desc {
    font-size: 16px;
    padding: 0 10px;
  }

  .comment_box {
    width: 90%;
  }

  .about_container {
    flex-direction: column;
    text-align: center;
  }

  .about_logo img {
    height: 120px;
  }

  .about_content p {
    text-align: left;
    padding: 1rem 10px;
  }

  .contact_container {
    justify-content: unset;
    align-items: baseline;
    flex-direction: column;
    gap: 1rem;
  }

  .divider {
    margin: 0 2rem;
  }
}
